streamlit
openai
google-cloud-documentai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytesseract
pillow
pdf2image
numpy
pandas
matplotlib
PyMuPDF
google-cloud-documentai==3.2.0
openai==1.65.2